.About_Us {
    background: linear-gradient(196.27deg, #33250D 11.29%, #5C7387 78.81%);
}

.Live_Fish {
    background: linear-gradient(198.16deg, #ADBBC7 3.33%, #5C7387 26.65%, #052847 93.85%);
}

.Fuzzy_Yard {
  
background: linear-gradient(198.16deg, #33250D 3.33%, #5C7387 26.65%, #052847 67.11%, #33250D 93.85%);

}