 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 nav {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    height: 80px; 
    background: #052847;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul li {
    list-style: none;
    padding-right: 20px;

}

nav ul li a {
    color: #ADBBC7;
    text-decoration: none;
    font-size: 16px;
}

/* homepage layout */
 
 .Banners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
 }

 .About_Us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 301px;
}

.Live_Fish {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.Live_Fish img {
    width: 100%; 
    max-width: 100%;
}


.Fuzzy_Yard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fy_col1 img {
    max-width: 100%
}

.fy_col2 {
    display: flex;
    flex-direction: column; 
}

.Pet_Boarding {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 300px;
}

.banner_button {
    border-style: none;
    border-radius: 10px;
    background: #ADBBC7;
    width: 117px;
    height: 33px;

}

@media screen and (min-width:320px) and (max-width:800px) {
    .fy_col1 img {
        max-height: 100%;
    }
    
}

/* aquarium page layout */

.p2_banner {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    height: 300px;
    overflow: hidden;
}

.p2_banner img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.product_list {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items:center;
    padding-left: 50px;
}

.product-card {
    height: 300px;
    width:  170px;
    align-items: center;
}

.product-image img {
    width: 95%;
    height: auto;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
    .product_list {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 5px;
    }
    
}

.p2_section_header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

 /* product page layout */

@media screen and (min-width: 320px) and (max-width: 899px) {

    .pp_container {
        display: grid; 
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr;
       
    }

    .pp_buttons button {
            position: relative;
            width: 130px;
            margin-top:250px;
            border-style: none;
            border-radius: 0px 10px 10px 0px;
            height: 42px;
        }
        
        .pp_title h1 {
            position: relative;
            margin-top: 20px;
            margin-left: 15px;
            width: 65%;
        }
        
        .pp_coral_image {
            border-style: solid;
            margin-top: 50px;
            margin-bottom: 0px;
        
           
        }

        .pp_coral_image img {
            width:100%;
            height:75%;
            object-fit:cover;
            object-position: left;
            margin-bottom: 0;
        }

        .pp_stone_image {
            border-style: solid;
            overflow: hidden;
            margin-top: 100px;
            margin-bottom: 20px;

            
        }

        .pp_stone_image img {
            width: 150%;
            object-fit: cover;
            object-position: left;
        }


        .pp_price {
            margin-top: 10px;
            margin-left: 15px;

        }
         .pp_description {
            border-style: solid;
         }

         .pp_row2 {
            display: grid; 
            grid-template-columns: 1fr 1.5fr;
            margin-bottom: 0;
         }

         .pp_row3 {
            display: grid;
            grid-template-columns: 1fr 2fr;
         }

         .product_suggestions h1 {
            text-align: center
         }

    }

    @media screen and (min-width: 900px) {

        .pp_container {
            display: grid; 
            grid-template-columns: 1fr 1fr;
            border-style: solid;
            border-color: magenta;
        }


        .pp_row2 {
            display: flex;
            flex-direction: column-reverse;
            overflow: hidden;
        }

        .pp_row3 {
            position: relative;
            bottom: 350px;
            width: 600px;
            margin-left:40px;
            display: flex; 
            flex-direction: column-reverse; 
        }

        .pp_title {
            border-style: solid; 
            border-radius: 2px;
            border-color: purple; 
            width: 600px;
            padding-top:150px;
            padding-left:40px;
        }

        .pp_buttons {
            border-style: none;
            border-radius: 2px;
            position: relative;
            bottom: 50px;
            margin-right: 100px;
        }   

        .pp_buttons button {
        border-style: none;
        height: 60px;
        width: 280px;
        border-radius: 30px;
        }

        .pp_coral_image {
            border-style: solid;
            border-radius: 2px;
            border-color: purple; 
            padding-right: 300px;
            overflow: hidden;
            margin-top: 80px;

        }

        .pp_stone_image {
            border-style: solid;
            border-radius: 2px;
            border-color: purple; 
            overflow: hidden;
            margin-top: 80px;
            margin-left: 100px;

        }
        

        .pp_price {
            border-style: solid;
            border-radius: 2px;
            border-color: purple; 
            padding-top: 20px;
            margin-right: 0;
        }

        .pp_description {
            border-style: solid;
            border-radius: 2px;
            border-color: purple;
            margin-bottom: 130px;
        
        }

        .product_suggestions h1 {
            text-align: center;
        }

    }
    

/* shopping cart layout */

.shopping_cart {
    display: flex; 
    justify-content: space-between;

}

.sc_contents {
    justify-content: space-between; 
    width: 100%; 
}

.sc_product {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    width: 90%;
    margin:auto;
    border-bottom: 2px solid #c7BDAD;

}

.sc_total {
    display: flex;
    justify-content: flex-end;
}

.sc_product_card {
    border-style: solid;
    border-color: magenta;
    display: flex;
    width:150px; 
    height: 136px;
    background-color: #111213;
    border-radius: 15px;
    justify-content: center;
}

.sc_qty input {
    background-color: transparent;
    border-style: none;
    box-shadow: none;
}

.sc_qty {
    background-color: transparent;
    box-shadow: none;
    border-style: none;
}

    

.sc_product_card img {
    margin-top: 10px;
    height: 80%; 
    object-fit: cover;

}

.sc_product p {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: mediumaquamarine;
    margin-right: auto;
}

.sc_product h1 {
    display: flex;
    align-items: center;
}


.sc_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    border-style: solid;
    border-color: magenta;
}



/* checkout page layout */

.checkout_form {
    display: grid; 
    grid-template-rows: auto auto auto;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 100px;
}

.checkout_form input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px; 
    display: inline-block;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #ADBBC7;
}


.customer_details_form {
    max-width: 65%
}

.shipping_details {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}


.sd_col1 {
    margin-right: 0;
    padding-right: 0;
}

.sd_col2 {
     border-style: solid;
     border-color: aqua; 
     display: flex;
     flex-direction: column;
     padding: 20px 50px;
}

.sd_col2 h1 {
    justify-content: center;
}

.shipping_details_form {
    max-width: 100%;
}

.sd_col1 {
    max-width: 60%;
}

.sd_col2 button {
    box-sizing: border-box;
    border: 1px solid #C7BDAD;
    padding: 10px;
    background-color: transparent;
    width: 100%;
}

.payment {
    max-width: 65%;
    border-style:solid;
    border-color: magenta;
}

.payment_options {
    display: flex; 
    flex-direction: row;
}

@media screen and (max-width:900px) {
    .shipping_details {
        flex-direction:column;
        align-items: center;
    }

    .customer_details_form {
        max-width: 100%;
    }

    .sd_col1 {
        max-width: 100%;
    }

    .shipping_details_form {
        max-width: 100%;
    }

    .payment {
        max-width: 100%; 
    }

    .payment_options {
        flex-direction:column;
    }

    .checkout_form {
        margin-left: 20px;
        margin-right: 20px;

    }

}


