 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 nav {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    height: 80px; 
    background: #052847;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul li {
    list-style: none;
    padding-right: 20px;

}

nav ul li a {
    color: #ADBBC7;
    text-decoration: none;
    font-size: 16px;
}
 
 .Banners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
 }

 .About_Us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 301px;
    padding: 20px;
}

.Live_Fish {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.Live_Fish img {
    width: 100%; 
    max-width: 100%;
}


.Fuzzy_Yard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.Pet_Boarding {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 300px;
}

.banner_button {
    border-style: none;
    border-radius: 10px;
    background: #ADBBC7;
    width: 117px;
    height: 33px;

}


.p2_banner {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    height: 300px;
    overflow: hidden;
}

.p2_banner img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.product_list {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items:center;
    padding-left: 50px;
}

.product-card {
    height: 300px;
    width:  170px;
}

.product-image {
    height: 170px;
    border-radius: 15px;
    padding-top:30px;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
    .product_list {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 5px;
    }
    
}

.Live_fish_Header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}


@media screen and (max-width: 899px) {

    .yellowstone_page {
        background-color: #052847;
    }
    .pp_container {
        display: grid; 
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr;
       
    }

    .pp_buttons {
            position: relative;
            width: 150px;
            background-color: ;
        
        }
        
        .pp_title h1 {
            position: relative;
            background-color: ; 
        }
        
        .pp_stone_image {
            border-style: solid;
            border-color: magenta;
            margin-top: 50px;
        
           
        }

        .pp_stone_image img {
            width:100%;
            height:85%;
            object-fit:cover;
            object-position: left;
        }

        .pp_price {
            background-color: ; 

        }
         .pp_description {
            border-style: solid;
            border-color:magenta;
         }

         .pp_row2 {
            display: grid; 
            grid-template-columns: 1fr 1.5fr;
         }

         .pp_row3 {
            display: grid;
            grid-template-columns: 1fr 2fr;
         }

    }

    @media screen and (min-width: 900px) {

        .pp_container {
            display: grid; 
            grid-template-columns: 1fr 1fr;
            background-color: #052847;
        }

        .pp_row1 {
            background-color: ;

    
        }

        .pp_row2 {
            background-color:;
            display: flex;
            flex-direction: column-reverse;
            overflow: hidden;
        }

        .pp_row3 {
            background-color:;
            position: relative;
            bottom: 350px;
            width: 600px;
            margin-left:40px;
            display: flex; 
            flex-direction: column-reverse; 
        }

        .pp_title {
            border-style: solid; 
            border-radius: 2px;
            border-color: purple; 
            width: 600px;
            padding-top:150px;
            padding-left:40px;
        }

        .pp_buttons {
            border-style: solid; 
            border-radius: 2px;
            border-color: purple; 
            position: relative;
            bottom: 50px;
        }   

        .pp_buttons button {
        height: 60px;
        width: 280px;
        border-radius: 30px;
        }

        .pp_stone_image {
            border-style: solid;
            border-radius: 2px;
            border-color: purple; 
            padding-right: 300px;
            overflow: hidden;
            margin-top: 80px;

        }

        .pp_price {
            border-style: solid;
            border-radius: 2px;
            border-color: purple; 
            padding-top: 20px;
        }

        .pp_description {
            border-style: solid;
            border-radius: 2px;
            border-color: purple;
            margin-bottom: 130px;
        
        }

    }
    


.shopping_cart {
    display: flex; 
    justify-content: space-between;

}

.sc_contents {
    justify-content: space-between; 
    width: 100%; 
}

.sc_product {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;

}

