 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 nav {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    height: 80px; 
    background: #052847;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul li {
    list-style: none;
    padding-right: 20px;

}

nav ul li a {
    color: #ADBBC7;
    text-decoration: none;
    font-size: 16px;
}
 
 .About_Us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 301px;
    padding: 20px;
}

.Live_Fish {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 301px;
    padding: 20px;
}

.Fuzzy_Yard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    padding: 20px;
}


