.p2_banner_text {
    padding-top:10px;
    padding-left:10px;
}

.product_list {
    padding-top: 100px;
}

.Live_fish_Header {
    padding-top: 50px;
    padding-left: 50px;
    padding-right:50px;
}
