

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.About_Us h1 {
    font-family: Spectral;
    color: #C7BDAD;
}

.About_Us p {
    font-family: Lato;
    color: #C7BDAD;
    font-style: normal;
    text-align: center; 
    font-weight: 300;
}

.Live_Fish h1 {
    font-family: Spectral;
    color: #C7BDAD;
}

.Live_Fish p {
    font-family: Lato;
    color: #C7BDAD;
    font-style: normal;
    text-align: center; 
    font-weight: 300;

}

.Fuzzy_Yard h1 {
    font-family: Spectral;
    color: #C7BDAD;
}

.Fuzzy_Yard p {
    font-family: Lato;
    color: #C7BDAD;
    font-style: normal;
    text-align: center;
    font-weight: 300;
}

.p2_banner h1 {
    font-family: Spectral;
    color: #C7BDAD;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height:37px;
    letter-spacing: 0.23em;
}

.Live_fish_Header {
    font-family: Montserrat; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.13em; 
    
}